<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297020473037-qlre62a149p0k9s9jhgv7rddjvf5r8lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297020473037-qlre62a149p0k9s9jhgv7rddjvf5r8lu</string>
	<key>API_KEY</key>
	<string>AIzaSyByvpYerZRnrmYGBF01F11nEmVznYRmUlc</string>
	<key>GCM_SENDER_ID</key>
	<string>297020473037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryShop</string>
	<key>PROJECT_ID</key>
	<string>grocery-shop-cc29d</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-shop-cc29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297020473037:ios:4ba18047dd47491cdf3384</string>
</dict>
</plist>